  <tr>
  	<th><%= link_to 'Id', :controller => "words", :action => "index", :sort => "id" %></th>
    <th><%= link_to 'W1', :controller => "words", :action => "index", :sort => "w1" %></th>
    <th><%= link_to 'W2', :controller => "words", :action => "index", :sort => "w2" %></th>
    <th><%= link_to 'W3', :controller => "words", :action => "index", :sort => "w3" %></th>
    <th>Text ids</th>
    <th><%= link_to 'Text', :controller => "words", :action => "index", :sort => "text_id" %></th>
    
    <th>
    	<%= link_to 'Lang', :controller => "words", :action => "index", :sort => "lang" %>
    	<br>
    	    	<form action="/words" method="get">
    	
		    <% if Lang.all.size > 0 %>
		    	<!-- <%#= select(
		    				"keyword",
		    				"category_id",
		    				Category.all.collect {|g| [g.name, g.id]}) %> -->
		    	
		    	<!-- REF include_blank http://railsdoc.com/references/select -->
		    	<!-- REF selected http://stackoverflow.com/questions/623458/rails-select-helper-default-selected-value-how answered Mar 10 '09 at 6:06 -->
		    	<%= select(
		    				"text",
		    				"lang_id",
		    				Lang.all.collect {|lang| [lang.name, lang.id]},
		    				:include_blank => true,
		    				:selected => (
		    						params[:text] && params[:text][:lang_id] != "" ?
		    							params[:text] && params[:text][:lang_id] : false)
		    				) %>
		    <% else %>
		    
		    	<b>No data</b>
		    	
		    <% end %>
		    
		    <input type="submit" value="Filter"
						id="filter_lang"
						name="filter_lang" />
		</form>

    </th>
    <th>Dbid</th>
    <th>Created at(millsec)</th>
    <th></th>
  </tr>
