<p id="notice"><%= notice %></p>

<h1>
	<a name="top">Admin#main</a>
</h1>

<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<p>Find me in app/views/admin/main.html.erb</p>
<hr />

@contentArray = <%= @contentArray.class %><br />
@contentArray.length = <%= @contentArray.length %><br />
<hr />

	<%= render :partial => "main_menu" %>

<!-- <div id="admin_show_log">Show log</div><br /> -->
<input type="button" value="Show log"   id="show_button" /> |
<!--
	REF disabled http://html.eweb-design.com/0903_btn.html
-->
<input type="button" value="Hide log"   class="hide_button" disabled/>

<p>CLICK here</p>

<hr />

<div id="div1">
	Ajax area
</div>
<button id="bt1">
	Ajax experience
</button>

<hr />

<!-- http://d.hatena.ne.jp/yuum3/20120903/1346653974 -->
<%#= link_to 'Show', :controller => 'admin', :action => 'sub2', {:remote => true} %>
<%#= link_to 'Admin/sub2', :controller => 'admin', :action => 'sub2'%> <!-- /admin/sub2 -->
<%#= link_to 'Admin/sub2', :controller => 'admin', :action => 'sub2', {:remote => true}%> <!-- syntax error, unexpected ')' -->
<%= link_to 'Admin/sub2', {:controller => 'admin', :action => 'sub2'}, :remote => true %>
<div id="ajaxtest">Ajax test</div>
<hr />



<!-- <div id="logs"> -->
	
<!-- REF display http://stackoverflow.com/questions/4474327/how-to-make-a-div-hidden-by-default-made-by-a-content-tag-for -->
<div id="logs" style="display: none;">

	<% for i in 0..@contentArray.length - 1 %>
	
		<%= @contentArray[i] %><br />
	
	<% end %>
	
	<input type="button" value="Hide log"   class="hide_button" disabled/>
	
</div>

<hr />
<a href="#top" style="margin: 0px 25px;">(To top)</a>
<a name="bottom"></a>