<% require 'json' %>

<h1>Admin#main</h1>
<p>Find me in app/views/admin/main.html.erb</p>

<div>
	@json=<%= @json.class.to_s %>
</div>

<div>
	@json[0]=<%= @json[0].class.to_s %>
</div>

<br/>

<div>
	@fnames=<%= p @fnames %>
</div>

<div>
	@fnames=<%= p JSON.generate(@fnames) %>
</div>

<hr>

<!-- http://d.hatena.ne.jp/maeharin/20120811/p1 -->
<div>
	<%= form_tag("http://benfranklin.chips.jp/show_image.php") do %>
	
		Hi.
	
	<% end %>
</div>