<%= form_for(@word_list) do |f| %>
  <% if @word_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_list.errors.count, "error") %> prohibited this word_list from being saved:</h2>

      <ul>
      <% @word_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text_id %><br />
    <%= f.number_field :text_id %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br />
    <%= f.number_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :lang_id %><br />
    <%#= f.number_field :lang_id %>
    
    <% if Lang.all.size > 0 %>
    	<!-- <%#= select(
    				"keyword",
    				"category_id",
    				Category.all.collect {|g| [g.name, g.id]}) %> -->
    	<%= select(
    				"word_list",
    				"lang_id",
    				Lang.all.collect {|lang| [lang.name, lang.id]}) %>
    <% else %>
    
    	<b>No data</b>
    	
    <% end %>
    
  </div>
  <div class="field">
    <%= f.label :db_id %><br />
    <%= f.number_field :db_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
