<h1><a name="top">Listing word_lists</a></h1>
(<%= link_to 'New Word list', new_word_list_path %>)
<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<table border="2">
  <tr>
  	<th>Id</th>
    <th>Text</th>
    <th>Word</th>
    <th>Lang</th>
    <th>DbId</th>
    <th>Created at(millsec)</th>
    <th>Updated at(millsec)</th>
    <th></th>
  </tr>

<% @word_lists.each do |word_list| %>
  <tr>
    <td><%= link_to word_list.id, word_list %></td>
    <td><%= word_list.text_id %></td>
    <td><%= word_list.word_id %></td>
    <td><%= word_list.lang_id %></td>
    <td><%= word_list.db_id %></td>
    <td><%= word_list.created_at_mill %></td>
    <td><%= word_list.updated_at_mill %></td>
    <td><%= link_to 'Destroy', word_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<a name="bottom"></a>
<%= link_to 'New Word list', new_word_list_path %>
<a href="#top" style="margin: 0px 25px;">(To top)</a>

<br />
