<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @word_list.text_id %>
</p>

<p>
  <b>Word:</b>
  <%= @word_list.word_id %>
</p>

<p>
  <b>Lang:</b>
  <%= @word_list.lang_id %>
</p>

<p>
  <b>Db:</b>
  <%= @word_list.db_id %>
</p>


<%= link_to 'Edit', edit_word_list_path(@word_list) %> |
<%= link_to 'Back', word_lists_path %>
