<% @links.each do |link| %>
  <tr>
    <td class="table_id">
    	<%#= link.id %>
    	<%= link_to link.id, link %>
    </td>
    <td><%= link.title %></td>
    
    <td>
    	<%#= link.url %>
    	<!-- REF external_link http://www.ruby-forum.com/topic/50457 -->
    	<!-- REF _blank http://apidock.com/rails/ActionView/Helpers/UrlHelper/link_to zoopzoop - October 20, 2008 -->
	    <%= link_to link.url, link.url, :target => "_blank" %>
    </td>
    <td><%= link.memo %></td>
    <td><%= link.created_at_mill %></td>
    <td><%= link.updated_at_mill %></td>
    <td><%= link_to 'Destroy', link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
