<%= render :partial => "index_h1" %>

(<%= link_to 'New Word', new_word_path %>)
	<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<table border="2">

	<%= render :partial => "words/table/index_table_header" %>

	<%= render :partial => "words/table/index_table_entries" %>
	
</table>

<%= link_to 'New Word', new_word_path %><a href="#top" style="margin: 0px 25px;">(To top)</a>
<a name="bottom"></a>

<br />


