<%= form_for(@lang) do |f| %>
  <% if @lang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lang.errors.count, "error") %> prohibited this lang from being saved:</h2>

      <ul>
      <% @lang.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :created_at_mill %><br />
    <%= f.number_field :created_at_mill %>
  </div>
  <div class="field">
    <%= f.label :updated_at_mill %><br />
    <%= f.number_field :updated_at_mill %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
