<h1>Listing langs</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Created at mill</th>
    <th>Updated at mill</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @langs.each do |lang| %>
  <tr>
    <td><%= lang.id %></td>
    <td><%= lang.name %></td>
    <td><%= lang.created_at_mill %></td>
    <td><%= lang.updated_at_mill %></td>
    <td><%= link_to 'Show', lang %></td>
    <td><%= link_to 'Edit', edit_lang_path(lang) %></td>
    <td><%= link_to 'Destroy', lang, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lang', new_lang_path %>
