<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lang.name %>
</p>

<p>
  <b>Created at mill:</b>
  <%= @lang.created_at_mill %>
</p>

<p>
  <b>Updated at mill:</b>
  <%= @lang.updated_at_mill %>
</p>


<%= link_to 'Edit', edit_lang_path(@lang) %> |
<%= link_to 'Back', langs_path %>
