<!-- <h1><a name="top">Texts</a> -->
<h1>Texts
		<% if @texts != nil %>

			<!-- REF font-weight http://www.htmlforums.com/html-xhtml/t-how-do-you-make-a-table-header-td-not-bold-102767.html -->
			<span style="font-weight: normal; font-size: smaller">
				(<%= @texts.size %>)
			</span>
			
		<% end %>
</h1>
(<%= link_to 'New Text', new_text_path, :class => 'link' %>)
<a href="#bottom" style="margin: 0px 25px;" class="link">(To bottom)</a>

<!--
	REF 'Anchor' http://heo.jp/tag/href/namelink.html
-->

<table border="2">
  <tr>
    <!-- <th>Id</th> -->
    <th><%= link_to 'Id', :controller => "texts", :action => "index", :sort => "id" %></th>
    <!-- <th>Text</th> -->
    <th><%= link_to 'Text', :controller => "texts", :action => "index", :sort => "text" %></th>
    <!-- <th>Title</th> -->
    <th><%= link_to 'Title', :controller => "texts", :action => "index", :sort => "title" %></th>
    <th>Word ids</th>
    <!-- <th style="width: 10px;">Url</th> -->
    <th>Url</th>
    <!-- <th class="url">Url</th> -->
    <th>Genre</th>
    <th>Subgenre</th>
    
    <th>
    	<%= link_to 'Lang', :controller => "texts", :action => "index", :sort => "lang" %>
    	<br />
    	<!-- <form action="/texts" method="post"> -->
    	<form action="/texts" method="get">
    	
		    <% if Lang.all.size > 0 %>
		    	<!-- <%#= select(
		    				"keyword",
		    				"category_id",
		    				Category.all.collect {|g| [g.name, g.id]}) %> -->
		    	
		    	<!-- REF include_blank http://railsdoc.com/references/select -->
		    	<%= select(
		    				"text",
		    				"lang_id",
		    				Lang.all.collect {|lang| [lang.name, lang.id]},
		    				:include_blank => true,
		    				:selected => (
		    						params[:text] && params[:text][:lang_id] != "" ?
		    							params[:text] && params[:text][:lang_id] : false)
		    				) %>
		    <% else %>
		    
		    	<b>No data</b>
		    	
		    <% end %>
		    
		    <input type="submit" value="Filter"
						id="filter_lang"
						name="filter_lang" />
		</form>
    	
    </th>
    
    <th>Memo</th>
    <th>Dbid</th>
    <th>Created at(millsec)</th>
    <th></th>
  </tr>

<% @texts.each do |text| %>
  <tr>
    
    <td><%= link_to text.id, text %></td>
    <td class="text"><%= text.text %></td>
    <!-- <td><%#= text.text %></td> -->
    <td><%= text.title %></td>
    <td><%= text.word_ids %></td>
    <td class="url"><%= text.url %></td>
    <td><%= text.genre_id %></td>
    <td><%= text.subgenre_id %></td>
    <% if not text.lang == nil %>
    	<td><%= text.lang.name %></td>
	<% else %>
		<td><%= text.lang_id %>(text.lang => nil)</td>
    <% end %>
    <!-- <td><%#= text.lang %></td> -->
    <!-- <td><%#= text.lang_id %></td> -->
    <td><%= text.memo %></td>
    <td><%= text.dbId %></td>
    <td><%= text.created_at_mill %></td>
    <td><%= link_to 'Destroy', text, confirm: 'Are you sure?', method: :delete, :class => 'link' %></td>
  </tr>
<% end %>
</table>

<a name="bottom"></a>
<!--
	REF http://www.tohoho-web.com/css/prop/margin.htm
-->
<%= link_to 'New Text', new_text_path, :class => 'link' %>
<a href="#top" style="margin: 0px 25px;", class="link">(To top)</a>
<br />


