<!-- <h1><a name="top">Texts</a> -->
<h1>Texts
		<% if @texts != nil %>

			<!-- REF font-weight http://www.htmlforums.com/html-xhtml/t-how-do-you-make-a-table-header-td-not-bold-102767.html -->
			<span style="font-weight: normal; font-size: smaller">
				(<%= @texts.size %>)
			</span>
			
		<% end %>
</h1>
(<%= link_to 'New Text', new_text_path, :class => 'link' %>)
<a href="#bottom" style="margin: 0px 25px;" class="link">(To bottom)</a>

<!--
	REF 'Anchor' http://heo.jp/tag/href/namelink.html
-->

<table border="2">

	<%= render :partial => "index_table_header" %>

	<%= render :partial => "index_table_entries" %>

	
</table>

<a name="bottom"></a>
<!--
	REF http://www.tohoho-web.com/css/prop/margin.htm
-->
<%= link_to 'New Text', new_text_path, :class => 'link' %>
<a href="#top" style="margin: 0px 25px;", class="link">(To top)</a>
<br />


