<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </div>
  <div class="field">
    <%= f.label :memos %><br />
    <%= f.text_area :memos %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :table_name %><br />
    <%= f.text_field :table_name %>
  </div>
  <div class="field">
    <%= f.label :last_viewed_at %><br />
    <%= f.number_field :last_viewed_at %>
  </div>
  <div class="field">
    <%= f.label :created_at_mill %><br />
    <%= f.number_field :created_at_mill %>
  </div>
  <div class="field">
    <%= f.label :updated_at_mill %><br />
    <%= f.number_field :updated_at_mill %>
  </div>
  <div class="field">
    <%= f.label :date_added %><br />
    <%= f.number_field :date_added %>
  </div>
  <div class="field">
    <%= f.label :date_modified %><br />
    <%= f.number_field :date_modified %>
  </div>
  <div class="field">
    <%= f.label :loc_file_id %><br />
    <%= f.number_field :loc_file_id %>
  </div>
  <div class="field">
    <%= f.label :loc_created_at %><br />
    <%= f.number_field :loc_created_at %>
  </div>
  <div class="field">
    <%= f.label :loc_modified_at %><br />
    <%= f.number_field :loc_modified_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
