<% @images.each do |image| %>
  <tr>
    <td><%= image.id %></td>
    <td colspan="2">
    	<%= link_to image.file_name, image %>
    </td>

    <td colspan="2"><%= image.table_name %></td>
   </tr>
   
   <tr>
    <td colspan="4">
    	<!-- REF using class: http://stackoverflow.com/questions/10185516/how-to-style-an-image-tag-in-ruby-on-rails answered Apr 17 '12 at 5:22 -->
    	<% if image.file_name != nil %>
	    	<%= link_to\
	    			image_tag(
	    				$remote_url + '/' + image.file_name,
	    				{:alt => $remote_url + '/' + image.file_name,
	    					:class => "index_image_tag"}),
	    			image %>
	    <% else %>
	    
	    	No data: <%= image.class.to_s %>
	    
	    
	    <% end %>
	    
    </td>
    
    
    <td><%= image.file_path %>
    
    <%= image.memos %>
    <hr />
        
    <%= image.tags %>
    <hr />
    
    <%= image.loc_file_id %>
    <hr />

    <%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
