<h1>Listing images</h1>
<a href="#bottom" style="margin: 0px 25px;" class="link">(To bottom)</a>
<a name="top"></a>

<hr />
	
	<%= render :partial => "index_tool_bar" %>
	
<hr />

<table>

	<%= render :partial => "index_table_header" %>
	
	<%= render :partial => "index_table_entries" %>
		
</table>

<hr />
	<%= will_paginate @images, :prev_label=>'«Previous', :next_label=>'Next»' %>
<hr />

<br />

<%= link_to 'New Image', new_image_path %>

<hr />
<input type="button" value="Show log"   id="show_button" /> |
<!--
	REF disabled http://html.eweb-design.com/0903_btn.html
-->
<input type="button" value="Hide log"   class="hide_button" disabled/>

<p>CLICK here</p>

<!-- <div id="logs"> -->

<%= render :partial => "index_logs" %>

<a href="#top" style="margin: 0px 25px;", class="link">(To top)</a>
<a name="bottom"></a>