<a name="top"></a>

<h1>Listing images (Total=<%= @total_num_of_images %>)</h1>

ABC

<script type="text/javascript">


	// REF function http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_document_getelementbyid
	function rotate_image() {
		
		// alert("rotate");
		var angle = 0, img = document.getElementById('container');
		
		angle = (angle+90)%360;
		
		img.className = "rotate"+angle;
		
		
	}
	// var angle = 0, img = document.getElementById('container');
// 	
	// // alert("container");
// 	
	// document.getElementById('button').onclick = function() {
// 		
		// alert("button");
	    // // angle = (angle+90)%360;
	    // // img.className = "rotate"+angle;
	// }
</script>

<button id="button" onclick="rotate_image();">Click me!</button>
<!-- <button id="button">Click me!</button> -->

<div id="container">
	<img
		src="http://benfranklin.chips.jp/images/2012-04-14_08-07-07_188.jpg"
		id="image"
		 width="300" height="300"/>
</div>
Rotate image
<hr />


<a href="#bottom" style="margin: 0px 25px;" class="link">(To bottom)</a>

<hr />
	
	<%= render :partial => "index_tool_bar" %>
	
<hr />

	<%= will_paginate @images, :prev_label=>'«Previous', :next_label=>'Next»' %>
	
<hr />

<table>

	<%= render :partial => "index_table_header" %>
	
	<%= render :partial => "index_table_entries" %>
		
</table>

<hr />
	<%= will_paginate @images, :prev_label=>'«Previous', :next_label=>'Next»' %>
<hr />


<br />

<%= link_to 'New Image', new_image_path %>

<hr />

<% if @server_info.start_with?("localhost") %>

	<%= link_to "Heroku site", "http://cosmos-ifm-1.herokuapp.com/", :target => "_blank" %> |
	
<% else %>

	<%= link_to "Local site", "http://localhost:3001/", :target => "_blank" %>
	
<% end %>

<hr />
<input type="button" value="Show log"   id="show_button" /> |
<!--
	REF disabled http://html.eweb-design.com/0903_btn.html
-->
<input type="button" value="Hide log"   class="hide_button" disabled/>

<p>CLICK here</p>

<!-- <div id="logs"> -->

<%= render :partial => "index_logs" %>

<a href="#top" style="margin: 0px 25px;", class="link">(To top)</a>
<a name="bottom"></a>