<!DOCTYPE html>
<html>
<head>
	  <title>IFMR1</title>
	  
	  <meta name="viewport"
           content="width=device-width,
			user-scalable=yes,
			initial-scale=0.8,
                    maximum-scale=3.0" />
	  
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  
	  <%= stylesheet_link_tag    "/stylesheets/common" %>
	  
	  <%= javascript_include_tag "/javascript/admin" %>
  
</head>
<body>

<%= yield %>

</body>
</html>
