<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	  <title>IFMR1</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  
	  <%= stylesheet_link_tag    "/stylesheets/common" %>
	  
	  <%= javascript_include_tag "/javascript/admin" %>
  
</head>
<body>

<%= yield %>

=======

	<%= render :partial => "layouts/application_head" %>

</head>
<body>

<a name="top"><hr /></a>
<%= render :partial => "layouts/footer_main" %>
<hr />

<%= yield %>

<hr />
<%= render :partial => "layouts/footer_main" %>
<hr />

>>>>>>> 5551c2bb235a26b663d1ae417554751b3d474c7c
</body>
</html>
